<ion-modal [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Edit Product</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form [formGroup]="productForm" (ngSubmit)="onSave()">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Type</ion-label>
            <ion-select formControlName="type" interface="action-sheet" (ionChange)="onTypeChange($event.detail.value)">
              <ion-select-option *ngFor="let type of availableTypes" [value]="type">
                {{ type }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Price</ion-label>
            <ion-input formControlName="price" type="number"></ion-input>
          </ion-item>

          <!-- Динамічні поля залежно від типу -->
          <ng-container *ngIf="currentType === 'MilkProducts'">
            <ion-item>
              <ion-label position="stacked">Fat Content (%)</ion-label>
              <ion-input formControlName="fat" type="number"></ion-input>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="currentType === 'Vegetables'">
            <ion-item>
              <ion-label position="stacked">Weight (g)</ion-label>
              <ion-input formControlName="weight" type="number"></ion-input>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="currentType === 'Drinks'">
            <ion-item>
              <ion-label position="stacked">Volume (ml)</ion-label>
              <ion-input formControlName="volume" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Alcohol (%)</ion-label>
              <ion-input formControlName="alcohol" type="number"></ion-input>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="currentType === 'ShortTermProducts'">
            <ion-item>
              <ion-label position="stacked">Volume (ml)</ion-label>
              <ion-input formControlName="volume" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Expiration Date</ion-label>
              <ion-input formControlName="date" type="date"></ion-input>
            </ion-item>
          </ng-container>
        </ion-list>

        <ion-button type="submit" expand="block">Update</ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>