<ion-button (click)="toggleAddForm()">Add product</ion-button>
<ion-modal [isOpen]="showAddForm">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Add product</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-add-product 
        (productAdded)="addProduct($event)"
        (formClosed)="toggleAddForm()"
      ></app-add-product>
    </ion-content>
  </ng-template>
</ion-modal>
<form [formGroup]="productTypesForm">
  <ion-list>
    <ion-item *ngFor="let type of allTypes">
      <label class="checkbox-label">
        <input
          type="checkbox"
          [checked]="productTypesForm.get(type)?.value"
          (change)="onCheckboxChange($event, type)">
        {{ type }}
      </label>
    </ion-item>

  <ion-item>
    <ion-label><strong>Sort by price:</strong></ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox
      slot="start"
      [checked]="productTypesForm.get('sort')?.value === 'asc'"
      (ionChange)="setSortDirection('asc')">
    </ion-checkbox>
    <ion-label>From lower</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox
      slot="start"
      [checked]="productTypesForm.get('sort')?.value === 'desc'"
      (ionChange)="setSortDirection('desc')">
    </ion-checkbox>
    <ion-label>From higher</ion-label>
  </ion-item>
</ion-list>
</form>

  <ion-list *ngIf="filteredProducts.length > 0">
  <ion-card *ngFor="let product of filteredProducts" [color]="getCardColor(product)">
    <ion-card-header>
      <ion-card-title>{{ product.getName() }}</ion-card-title>
      <ion-card-subtitle>{{ product.getType() }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let detail of product.getDetails()">
          {{ detail }}
        </ion-item>
      </ion-list>
      <ion-button fill="solid" (click)="deleteProduct(product.getId())">Delete</ion-button>
    </ion-card-content>
  </ion-card>

</ion-list>